@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}
@font-face{
  font-family: NotoSansCJKtc-DemiLight;
  src:url('../fonts/poppins/NotoSansCJKtc-DemiLight.otf')
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}
@font-face {
  font-family: HanyiSentyGarden;
  src: url('../fonts/poppins/HanyiSentyGarden.ttf'); 
}
@font-face {
  font-family: SentyTEA-20190904;
  src: url('../fonts/poppins/SentyTEA-20190904.ttf'); 
}
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
	font-family: Poppins-Regular,NotoSansCJKtc-DemiLight;
}